# Set Theory

This code activity will try to guide you in applying the concepts, methods, and rules of Set Theory through code. We will go through with the data types in which Set Theory can be applied, how to write them in equation form im $\LaTeX$, and then we will try to look at a practical example through a user's requirement.

### Lists

In Python,  the most common iterable collection are lists. In lists, elements are ordered and chageable. Lists are denoted by enclosing objects with square brackets $[ ... ]$. Lists can be accessed through their indices, negative indexing is permitted.

In [1]:
### Declaration
employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi'] ## Best practice when making a list of objects, list variable names should be in plural form

In [2]:
### Single Access
employees[-4]

'Alex'

In [4]:
### Multiple Access
employees[2:3:1]

['Winston']

In [5]:
### Multiple Access via Loops
for employee in employees: ## To make coding a bit more intuitive, we use the singular form of the list variable name to denote its elements.
    print("How are you ",employee, "? Have a good day.")

How are you  John ? Have a good day.
How are you  Alex ? Have a good day.
How are you  Winston ? Have a good day.
How are you  Bob ? Have a good day.
How are you  Golbi ? Have a good day.

In [6]:
### Multiple Access via Loops

for Employees in range(len(employees)): ## You could also use indices for iterations.
    if(Employees%2 == 0):
        print(employees[Employees])

John
Winston
Golbi

In [11]:
### Modifying Elements
employees[-2] = 'John'
employees[0] = 'Jimmy'
print(employees)

['Jimmy', 'Alex', 'John', 'John', 'Jimmy']

In [12]:
### Adding Elements
employees.append("Elfaba")

employees.insert(2, "Ozai")
print(employees)

['Jimmy', 'Alex', 'Ozai', 'John', 'John', 'Jimmy', 'Elfaba']

In [13]:
### Removing Elements
employees.pop() 

employees.remove("Ozai")

del employees[-1]

employees.clear()
employees

[]

### Tuples

Tuples are another collection data type in Python. There are several key differences between lists and tuples:
- Tuples are ordered collections, so order cannot be rearranged or modified.
- Since tuples are ordered collections $(a, b) \neq (b, a)$
- They are declared and denoted using parentheses $( ...)$

In [14]:
### Declaration
pix1_colors = (255, 0 , 0)  ## In image processing, this is called a tuple consisting of channels. 
                            ##It is structured as (Red, Green, Blue) such that the values in each channe; ranges from 0 - 255 
pix2_colors = (64, 128, 111)

In [21]:
### Single Access
green = pix2_colors[2]
red = pix1_colors[0]

print(green)
print(red)

111
255

In [24]:
### Multiple Access
pix2_colors[0:2:1]

(64, 128)

In [27]:
### Multiple Access via Loops
for color in pix1_colors:
    print(color)

255
0
0

In [29]:
car_xpos = (3, 5, 12, 15)
car_ypos = (0, 1, 5, 2)
### Multiple Access via Parallel Iteration
for Cars in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {Cars}')

Coordinates of cars in ordered pair form: (3, 0)
Coordinates of cars in ordered pair form: (5, 1)
Coordinates of cars in ordered pair form: (12, 5)
Coordinates of cars in ordered pair form: (15, 2)

In [30]:
for px_colors in zip(pix1_colors, pix2_colors):
    print(px_colors)

(255, 64)
(0, 128)
(0, 111)

In [35]:
### Modifying Elements

car_xpos = (3, 5, 12, 15)
car_xpos[2]

12

In [91]:
### Removing Elements

pix1_colors = (255, 0 , 0)
pixlist = list(pix1_colors)
pix1_colors[2]
pixlist.remove(255)

In [40]:
### Merging Tuples
car_pos = car_xpos + car_ypos
car_pos

(3, 5, 12, 15, 0, 1, 5, 2)

### Sets

Sets are collections which are unordered and unindexed. Repititions are not allowed in set structures and they are denoted by curly brackets $\{ ... \}$.

In [41]:
### Declaration
bakery_A = {'bread', 'cracker', 'croissant', 'eclair', 'parfait','cannele', 'coffee','tea'}
bakery_B = {'bread', 'croissant', 'donuts', 'cinnamon roll', 'cookies','coffee','tea'}
bakery_C = {'bread', 'bread', 'bread'}

In [44]:
print(bakery_A)
print(bakery_C)

{'bread', 'cracker', 'parfait', 'croissant', 'eclair', 'coffee', 'tea', 'cannele'}
{'bread'}

In [49]:
### Accessing Elements
bakery_B[2]

TypeError: 'set' object is not subscriptable

In [51]:
### Multiple Access via Loops
for product in bakery_B:
    print(product)

bread
croissant
coffee
cinnamon roll
tea
donuts
cookies

In [53]:
### Removing an Element
print(bakery_B)
bakery_B.remove('donuts')
print(bakery_B)

{'bread', 'croissant', 'coffee', 'cinnamon roll', 'tea', 'donuts', 'cookies'}
{'bread', 'croissant', 'coffee', 'cinnamon roll', 'tea', 'cookies'}

In [55]:
### Membership
print('cannele' in bakery_A)
### Subsets
order = {'coffee', 'tea', 'donuts'}
order.issubset(bakery_A)

False

False

In [61]:
### Union
print(bakery_A)
print(bakery_B)
baker_st = bakery_A.union(bakery_B)
print(baker_st)
baker_stZ = baker_st.union(bakery_C)
print(baker_stZ)

{'bread', 'cracker', 'parfait', 'croissant', 'eclair', 'coffee', 'tea'}
{'bread', 'croissant', 'coffee', 'cinnamon roll', 'tea', 'cookies'}
{'bread', 'cracker', 'parfait', 'croissant', 'eclair', 'coffee', 'cinnamon roll', 'tea', 'cookies'}
{'bread', 'cracker', 'parfait', 'croissant', 'eclair', 'coffee', 'cinnamon roll', 'tea', 'cookies'}

In [62]:
### Intersection
bakery_A.intersection(bakery_B)

{'bread', 'coffee', 'croissant', 'tea'}

In [64]:
### Difference
### Unique elements that is in Bakery but not in Bakery B
bakery_A.difference(bakery_B)

{'cracker', 'eclair', 'parfait'}

### Dictionaries

Dictionaries are collections which is unordered, changeable like sets but are indexed. Like sets, they are denoted witn $\{...\}$ but objects are characterized by <b>keys</b> and described using <b>values</b>.

In [65]:
### Declaration
bakery_A_prices = {'bread' : 60, 
            'cracker': 15, 
            'croissant': 40, 
           }

In [67]:
## Accessing
bakery_A_prices['cracker']

15

In [69]:
## Accessing via Loops
for product in bakery_A_prices:
    print(product)

bread
cracker
croissant

In [70]:
for price in bakery_A_prices:
    print(bakery_A_prices[price])

60
15
40

In [93]:
for price in bakery_A_prices.values():
    print(price)

12.0
40
100

In [74]:
for product, price in bakery_A_prices.items():
    print(product, price)

bread 60
cracker 15
croissant 40

In [81]:
## Update / Modification
print(bakery_A_prices['cracker'])
bakery_A_prices['cracker'] *= 0.5
print(bakery_A_prices['cracker'])

15
7.5

In [82]:
## Adding Elements
print(bakery_A_prices)
bakery_A_prices['coffee'] = 100
print(bakery_A_prices)

{'bread': 12.0, 'cracker': 7.5, 'croissant': 40}
{'bread': 12.0, 'cracker': 7.5, 'croissant': 40, 'coffee': 100}

In [83]:
## Removing Elements
print(bakery_A_prices)
print(bakery_A_prices.pop('cracker'))
print(bakery_A_prices)

{'bread': 12.0, 'cracker': 7.5, 'croissant': 40, 'coffee': 100}
7.5
{'bread': 12.0, 'croissant': 40, 'coffee': 100}

# Lists

In [99]:
### Declaration
games = ['Mobile Legend', 'Laplace M', 'Wild Rift', 'Among Us', 'Call of Duty']

In [95]:
### Single Access
games[-2]

'Among Us'

In [96]:
### Multiple Access
games[1:2:3]

['Laplace M']

In [97]:
### Multiple Access via Loops
for games in games:
    print("Would you like to play, ", games, "?")

Would you like to play,  Mobile Legend ?
Would you like to play,  Laplace M ?
Would you like to play,  Wild Rift ?
Would you like to play,  Among Us ?
Would you like to play,  Call of Duty ?

In [100]:
### Multiple Access via Loops
for Games in range(len(games)):
    if(Games%2 == 0):
        print(games[Games])

Mobile Legend
Wild Rift
Call of Duty

In [101]:
### Modifying Elements
games[-1] = 'Genshin Impact'
games[2] = 'Dragon Raja'
print(games)

['Mobile Legend', 'Laplace M', 'Dragon Raja', 'Among Us', 'Genshin Impact']

In [102]:
### Adding Elements
games.append("NBA2k19")

games.insert(2, "Slam Dunk")
print(games)

['Mobile Legend', 'Laplace M', 'Slam Dunk', 'Dragon Raja', 'Among Us', 'Genshin Impact', 'NBA2k19']

In [103]:
### Removing Elements
games.pop() 

games.remove("Slam Dunk")

del games[-2]

games.clear()
games

[]

# Tuples

In [104]:
### Declaration
class1 = ("Jeremi", "Ronizza", "Trishia", "Mark")
class2 = ("Frincess", "Ronald", "Christian", "Riza")

In [105]:
### Single Access
Athlete = class1[-2]
Brainy = class2[3]

print(Athlete)
print(Brainy)

Trishia
Riza

In [106]:
### Multiple Access
class1[0:3:1]

('Jeremi', 'Ronizza', 'Trishia')

In [107]:
### Multiple Access via Loops
for athletes in class1:
    print(athletes)

Jeremi
Ronizza
Trishia
Mark

In [108]:
### Multiple Access via Parallel Iteration
for Classes in zip(class1, class2):
    print(f'Class Partners: {Classes}')

Class Partners: ('Jeremi', 'Frincess')
Class Partners: ('Ronizza', 'Ronald')
Class Partners: ('Trishia', 'Christian')
Class Partners: ('Mark', 'Riza')

In [109]:
for Class in zip(class1, class2):
    print(Class)

('Jeremi', 'Frincess')
('Ronizza', 'Ronald')
('Trishia', 'Christian')
('Mark', 'Riza')

In [110]:
### Modifying Elements
class2[-3]

'Ronald'

In [111]:
### Removing Elements
Class1 = list(class1)
Class1.pop(2)

'Trishia'

In [112]:
### Merging Tuples
Classes = class1 + class2
Classes

('Jeremi',
 'Ronizza',
 'Trishia',
 'Mark',
 'Frincess',
 'Ronald',
 'Christian',
 'Riza')

# Sets

In [114]:
### Declaration
asia = {'Philippines', 'Korea', 'Japan', 'Singapore', 'Indonesia'}
europe = {'France', 'United Kingdom', 'Russia', 'Spain', 'Italy'}

In [115]:
print(asia)
print(europe)

{'Korea', 'Singapore', 'Indonesia', 'Philippines', 'Japan'}
{'United Kingdom', 'Italy', 'Russia', 'Spain', 'France'}

In [116]:
### Accessing Elements
Europe = list(europe)
Europe[-3]

'Russia'

In [117]:
### Multiple Access via Loops
for Asia in asia:
    print(Asia)

Korea
Singapore
Indonesia
Philippines
Japan

In [118]:
### Removing an Element
print(europe)
europe.remove('United Kingdom')
print(europe)

{'United Kingdom', 'Italy', 'Russia', 'Spain', 'France'}
{'Italy', 'Russia', 'Spain', 'France'}

In [119]:
### Membership
print('Korea' in asia)
Asia = {'Japan', 'Philippines', 'Singapore'}
Asia.issubset(asia)

True

True

In [120]:
### Union
countries = asia.union(europe)
countries

{'France',
 'Indonesia',
 'Italy',
 'Japan',
 'Korea',
 'Philippines',
 'Russia',
 'Singapore',
 'Spain'}

In [121]:
### Intersection
country = asia.intersection(europe)
country

set()

In [122]:
### Difference
country = asia.difference(europe)
country

{'Indonesia', 'Japan', 'Korea', 'Philippines', 'Singapore'}

# Dictionaries

In [130]:
### Declaration
grades = {'Math' : 90,
       'English' : 96,
       'Science' : 93,
       'History' : 95,
       'PE' : 98
       }

In [124]:
## Accessing
grades['Science']

93

In [125]:
## Accessing via Loops
for subject in grades:
    print(subject)

Math
English
Science
History
PE

In [126]:
for Grades in grades:
    print(grades[Grades])

90
96
93
95
98

In [127]:
for Grades in grades.values():
    print(Grades)

90
96
93
95
98

In [128]:
for subjects, grades in grades.items():
    print(subjects, grades)

Math 90
English 96
Science 93
History 95
PE 98

In [131]:
## Update / Modification
grades['Math'] = 90 + 2
print(grades['Math'])

92

In [132]:
## Adding Elements
grades['English'] = 97
print(grades)

{'Math': 92, 'English': 97, 'Science': 93, 'History': 95, 'PE': 98}

In [133]:
## Removing Elements
print(grades.pop('PE'))
print(grades)

98
{'Math': 92, 'English': 97, 'Science': 93, 'History': 95}

## Dataset Operations

For this section, we will use the sets below to practice some practical dataset operations.

In [32]:
cpe_courses = ["Object-Oriented Programming", "Data Structures and Algorithms", "Discrete Mathematics", "Linear Algebra",
               "Database Management","Logic Circuits", "Computer Automation","Digital Signals Processing", "Computer System Architecture and Organization"]
cs_courses = ["Object-Oriented Programming", "Data Structures and Algorithms", "Automata", "Programming Language Theory",
             "Discrete Mathematics", "Database Management", "Human Computer Interaction", "Information Security", "Information Management"]

In [35]:
cpe = set(cpe_courses)
cs = set(cs_courses)

### Inner Join

In [40]:
## Find the common things between the sets
## Intersection
common = cpe.intersection(cs)
common ## inner join

{'Data Structures and Algorithms',
 'Database Management',
 'Discrete Mathematics',
 'Object-Oriented Programming'}

### Left Join

In [41]:
cpe_ljoin = common.union(cpe)
cpe_ljoin

{'Computer Automation',
 'Computer System Architecture and Organization',
 'Data Structures and Algorithms',
 'Database Management',
 'Digital Signals Processing',
 'Discrete Mathematics',
 'Linear Algebra',
 'Logic Circuits',
 'Object-Oriented Programming'}

### Right Join

In [42]:
cs_rjoin = common.union(cs)
cs_rjoin

{'Automata',
 'Data Structures and Algorithms',
 'Database Management',
 'Discrete Mathematics',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Object-Oriented Programming',
 'Programming Language Theory'}

### Left Exclusive Join

In [45]:
cpe_exljoin = cpe.difference(cs)
cpe_exljoin

{'Computer Automation',
 'Computer System Architecture and Organization',
 'Digital Signals Processing',
 'Linear Algebra',
 'Logic Circuits'}

### Right Exclusive Join

In [46]:
cs_exrjoin = cs.difference(cpe)
cs_exrjoin

{'Automata',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Programming Language Theory'}

### Full Outer Join

In [47]:
## Union
full_outer = cpe.union(cs)
full_outer

{'Automata',
 'Computer Automation',
 'Computer System Architecture and Organization',
 'Data Structures and Algorithms',
 'Database Management',
 'Digital Signals Processing',
 'Discrete Mathematics',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Linear Algebra',
 'Logic Circuits',
 'Object-Oriented Programming',
 'Programming Language Theory'}

### Full Outer Exclusive Join

In [48]:
## XOR
full_xouter = (cpe.difference(cs)).union(cs.difference(cpe))
full_xouter

{'Automata',
 'Computer Automation',
 'Computer System Architecture and Organization',
 'Digital Signals Processing',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Linear Algebra',
 'Logic Circuits',
 'Programming Language Theory'}

## Scratch Area

You can use the area below to try your own code.

# Data Set Operations

In [134]:
colorsA = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
colorsB = ['yellow', 'red', 'purple', 'green', 'black', 'pink', 'brown']

In [135]:
A = set(colorsA)
B = set(colorsB)

In [136]:
### Inner Join
samecolor = A.intersection(B)
samecolor

{'green', 'red', 'yellow'}

In [137]:
### Left Join
ColorsA = samecolor.union(A)
ColorsA

{'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}

In [138]:
### Right Join
ColorsB = samecolor.union(B)
ColorsB

{'black', 'brown', 'green', 'pink', 'purple', 'red', 'yellow'}

In [139]:
### Left Exclusive
colorsX = A.difference(B)
colorsX

{'blue', 'indigo', 'orange', 'violet'}

In [140]:
### Right Exclusive
colorsY = B.difference(A)
colorsY

{'black', 'brown', 'pink', 'purple'}

In [141]:
### Full Outer Join
fullcolors = A.union(B)
fullcolors

{'black',
 'blue',
 'brown',
 'green',
 'indigo',
 'orange',
 'pink',
 'purple',
 'red',
 'violet',
 'yellow'}

In [142]:
### Full Outer Exclusive Join
full_colors = (A.difference(B)).union(B.difference(A))
full_colors

{'black', 'blue', 'brown', 'indigo', 'orange', 'pink', 'purple', 'violet'}